@media (max-width: 1199px) {
  .me-50 {
    margin-right: 0;
  }

  .burger-menu {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 9999;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 9998;
  }

  /* показываем overlay */
  .overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .navbar-toggler {
    border: none;
    box-shadow: none !important;
  }

  .navbar-toggler-icon {
    background-image: none !important;
    width: 30px;
    height: 2px;
    background: #333333; /* средняя полоска */
    position: relative;
    display: block;
    margin: auto;
    transition: 0.3s;
  }

  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background: #333333;
    transition: 0.3s;
  }

  .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler-icon::after {
    top: 8px;
  }

  .navbar-toggler.open .navbar-toggler-icon {
    background: transparent;
  }

  .navbar-toggler.open .navbar-toggler-icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  .navbar-toggler.open .navbar-toggler-icon::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* крестик */
  .navbar-toggler.open .navbar-toggler-icon::before {
    transform: rotate(45deg);
    top: 0px;
  }

  .navbar-toggler.open .navbar-toggler-icon::after {
    transform: rotate(-45deg);
    top: 0px;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    transform: rotate(45deg);
    top: 0px;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-45deg);
    top: 0px;
  }
}

@media (min-width: 992px) {
  .col-2-4 {
    flex: 0 0 auto;
    width: 20%;
  }
}

@media (max-width: 991px) {
  .mt-120 {
    margin-top: 48px;
  }

  .mt-80 {
    margin-top: 24px;
  }

  .mb-80 {
    margin-bottom: 36px;
  }

  .ms-80 {
    margin-left: 24px;
  }

  .our-projects .font-64 {
    font-size: 32px;
  }

  .our-projects .lh-64 {
    line-height: 32px;
  }

  .about-subtitle {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .font-64 {
    font-size: 32px;
  }

  .font-40 {
    font-size: 24px;
  }

  .lh-64 {
    line-height: 32px;
  }

  .mt-150 {
    margin-top: 36px;
  }

  .mt-90 {
    margin-top: 0px;
  }

  .mb-60 {
    margin-bottom: 30px;
  }

  .px-70 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 567px) {
  .border-top-gray-one {
    border-top: 1px solid #f2f2f2;
  }
}
